.formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

ion-input{
    max-width: 90%;
    margin-bottom: 10px;
}

ion-card{
    margin-top: 30px;
    width: 80%;
    color: black;
    font-weight: bold;

    color: white;
    opacity: 0.5;
    background: blue;
    margin: 10px;
  
    --background: red;

}

@media (prefers-color-scheme: dark) {
    ion-button {
      --background: green;
    }
  }

ion-img{
    max-width: 90%;
    margin-bottom: 10px;
}

a{
    text-decoration: none;
    font-size: 18px;
    color: lightblue;
    font-weight: bold;
}

a span{
    color: orange;
}

