<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-title>
      Bienvenido (a) Tom
    </ion-title>

    <ion-icon slot="end" style="margin-right: 20px; font-size: 35px;" name="menu-outline"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="person-circle-outline"></ion-icon>
        Mi Perfil
      </ion-tab-button>
      <ion-tab-button tab="radio">
        <ion-icon name="calendar-outline"></ion-icon>
        Asistencias
      </ion-tab-button>
      <ion-tab-button tab="library">
        <ion-icon name="hammer-outline"></ion-icon>
        Configuración
      </ion-tab-button>
      <ion-tab-button tab="search" [routerLink]="['/login']" >
        <ion-icon name="exit-outline"></ion-icon>
        Salir
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
